.tabs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 30px 0;
    li{
        &.active{
            button{
                background: #000;
                color: #FFF;
                cursor: pointer;
            }
        }
        button{
            display: block;
            padding: 10px 20px;
            background: #CCC;
            border-radius: 3px;
            color: #555;
            border: 0;
        }
    }
}

.tab{
    display: none;
    &.active{
        display: block;
    }
}

.tab-content{
    padding: 40px 0;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: center;
        list-style: none;
        padding: 0;
        li{
            overflow: hidden;
            border-radius: 10px;
            margin: 0 10px;
            border: 1px solid #CCC;
            a{
                img{
                    display: block;
                    height: 250px;
                }
            }
        }
    }
}